* {
    font-family: sans-serif;
    /*outline: solid #f00 1px !important;*/
}

html {
    min-width: 100%;
    background-size: contain;
}

body {
    margin: 0px !important;
}

.hero {
    position: relative;
    width: 100%;
    height: 100%;
    background: green;
}

nav {
    display: flex;
    width: 85%;
    margin: auto;
    padding: 20px 10px;
    align-items: center;
    color: red;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav img {
    height: 100px;
    width: 10%;
    background-color: powderblue;
}

nav ul li {
    text-decoration: none;
    color: rgb(30, 204, 204) !important;
    font-weight: bold;
    font-size: 22px;
}

nav ul li a:hover {
    color: red;
}

h2 {
    color: rgb(204, 14, 30);
    text-shadow: lightgreen;
}

.d1 h3 {
    color: aquamarine;
}

.detail {
    margin: 10px 0px 10px 45px;
    padding: 90px 30px 20px 40px;
    height: 100%;
}

div.detail {
    display: flex;
    overflow-block: scroll;
    justify-content: space-evenly;
}

.detail h2 {
    font-size: 60px;
    color: rgb(204, 14, 30);
    margin-bottom: 0;
    font-family: 'Brush Script MT';
}

.detail h2:hover {
    color: white;
}

span.leader {
    color: rgb(16, 238, 16);
    font-family: 'Brush Script MT';
}

span.leader:hover {
    color: white;
}

.detail p {
    color: #fffb06;
    line-height: 22px;
    text-overflow: break-word;
}

.detail a {
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 0;
    border-radius: 2px;
}

div a:hover {
    /* color: rgb(10, 10, 10);*/
    box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 25px #ff96ad;
    background: gold;
}

.images img {
    width: 55%;
    height: 65%;
    margin-left: 20%;
    margin-top: 16%;
    border-radius: 100px;
    align-items: center;
}

.images {
    width: 80%;
    margin-left: 20%;
}


/*to diplay pic in circular frame*/

.images:hover {
    left: 20px;
    transition: 1s;
}

h1:hover {
    color: fuchsia;
}

.About {
    border: 8vh;
    padding: 20px 10px 10px 10px;
    margin-top: 5px;
    height: 100%;
    content: none;
    background: rgba(8, 161, 212, 0.315);
    text-align: center;
}

.About div.me {
    padding: 1.5em 2em 0 4em;
}

.About p {
    font-size: 20px;
}

.Skills {
    margin-left: 0;
    padding: 10px 20px 20px 20%;
    margin-top: 3em;
    text-align: left;
    outline: solid rgb(10, 10, 10) 2px;
}

.Skills span {
    display: inline-flex;
    justify-content: space-evenly;
}

.Tools {
    padding-left: 25%;
}

.project {
    height: 100%;
    padding: 50px;
    background: rgba(201, 180, 63, 0.678);
    text-align: center;
}

.project ul li {
    background: rgb(138, 101, 153);
    padding: 20px 15px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: inline-block;
    margin: 70px;
    border-radius: 5px;
}

div.project ul {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flip-project {
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-project:hover {
    transform: rotateY(180deg);
}

.Contact {
    height: 100%;
    padding: 50px;
    background: rgba(33, 121, 33, 0.678);
    text-align: center;
    overflow-block: auto;
}

.Contact span {
    color: black;
    padding: 10px 20px 10px 50px;
    text-align: initial;
    text-decoration: none;
}

.foo {
    height: 100%;
    padding: 50px;
    background: #222831;
    color: #fd7014;
    text-align: center;
}

.foo span {
    color: turquoise;
}


/* The flip box container - set the width and height. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

.flip-box {
    background-color: transparent;
    width: 300px;
    height: 160px;
    margin: 60px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    /* Remove this if don't want the 3D effect */
}


/* This container is needed to position the front and back side */

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front h2 {
    padding-top: 20px;
}


/* Position the front and back side */

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}


/* Style the front side */

.flip-box-front {
    background-color: #bbb;
    color: black;
}


/* Style the back side */

.flip-box-back {
    background-color: dodgerblue;
    color: white;
    word-wrap: break-word;
    padding: 2px;
    transform: rotateY(180deg);
}

div .Contact ul {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px 20px 15px 20px;
    margin: 30px;
    border-radius: 25px;
}

.flip-box img {
    height: 50px;
    width: 20%;
}

.flip-box p {
    font-style: italic;
}

@media screen and (max-width: 900px) {
    div.detail {
        display: flex;
        flex-wrap: wrap;
    }
    div.project ul {
        width: 80%;
    }
    div.Contact ul {
        width: 80%;
        margin: 0;
        padding: 0;
    }
    .flip-box-back {
        overflow: scroll;
    }
}

@media screen and (max-width: 600px) {
    .tool h1 {
        text-overflow: initial;
    }
}